@media (min-width: 768px) {
  body {
    .container {
      width: 460px;
      h2 {
        margin-bottom: 2rem;
      }

      .display {
        height: 6rem;
        width: 100%;
        margin-bottom: 1rem;
      }
      input {
        width: 23rem;
      }
    }
  }
}

@media (hover: hover) {
  .generate:hover {
    filter: saturate(1.5);
    letter-spacing: 120%;
  }
}
