@import "sliders", "colors", "range", "utils", "media";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html {
  font-size: clamp(13px, 4vw, 16px);
  overflow-x: hidden;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  color: $dark-blue;
  background-color: $light-pale-blue;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 24rem;
  padding: 2rem 1.8rem 1.5rem 1.8rem;

  background-color: #fefeff;
  border-radius: 1rem;

  box-shadow: 0 1rem 1.3rem #7a7ebe42;

  h2 {
    margin-left: 0.8rem;

    font-size: 1.5rem;
    letter-spacing: 0.15rem;

    margin-bottom: 1.8rem;
    span {
      color: $strong-purple;
    }
  }

  .display {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: fit-content;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem 1rem;

    background-color: rgb(255, 255, 255);
    color: $strong-purple;

    box-shadow: 0rem 0.5rem 1rem rgba(25, 27, 167, 0.123);
    border: 2px solid rgba(25, 27, 167, 0.205);
    border-radius: 1rem;

    font-weight: bolder;
    text-align: center;
    word-break: break-all;

    img {
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;

      filter: opacity(0.5);
      cursor: pointer;
    }
  }

  .sliders-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: clamp(18rem, 100%, 25rem);

    box-shadow: 0 0.5rem 1rem $light-pale-blue;
    border-radius: 1rem;

    margin-bottom: 1.5rem;
    padding: 1rem 0rem;
  }

  input {
    width: 16.5rem;
  }

  .property {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3.2rem;
    padding: 0rem 1rem;

    border-radius: 1rem;

    h3 {
      margin: 0.4rem;
    }
  }

  .property + .active {
    background-color: $light-pale-blue;
  }

  .password-length {
    margin-bottom: 3rem;
  }

  button {
    width: clamp(6rem, 100%, 25rem);
    height: 4.5rem;

    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.15rem;

    color: white;
    background: linear-gradient(
      to top right,
      rgb(112, 103, 163),
      $strong-purple
    );
    box-shadow: 0.2rem 0.5rem 1rem rgba(156, 169, 204, 0.767);
    border: none;
    border-radius: 1rem;
    filter: saturate(0.75);

    transition: all 0.1s ease;
  }
}

.flashBlue {
  animation: flashBlue 0.4s backwards ease;
}

@keyframes flashBlue {
  from {
    color: rgb(56, 56, 255);
    transform: scale(1.2);
  }
  to {
    color: $dark-blue;
    transform: scale(1);
  }
}
