@import "globals", "sliders", "colors", "range", "utils", "media", "animation",
  "footer", "info-modal";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;

  color: $dark-blue;
  background-color: $light-pale-blue;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;

  overflow-x: hidden;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: 4rem 0rem 2rem 0rem;
  width: 24rem;
  padding: 2rem 1.8rem 1.5rem 1.8rem;

  background-color: #fefeff;
  border-radius: 1rem;

  box-shadow: 0 1rem 1.3rem #7a7ebe42;

  h2 {
    align-self: flex-start;

    margin-left: 0.8rem;
    margin-bottom: 1.8rem;

    font-size: 1.5rem;
    letter-spacing: 0.15rem;

    span {
      color: $strong-purple;
    }
  }

  svg {
    position: absolute;
    top: 2.2rem;
    right: 1.5rem;
  }

  .display {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: fit-content;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem 1rem;

    background-color: rgb(255, 255, 255);
    color: $pale-blue;

    box-shadow: 0rem 0.5rem 1rem rgba(25, 27, 167, 0.123);
    border: 2px solid rgba(25, 27, 167, 0.205);
    border-radius: 1rem;

    font-weight: bolder;
    text-align: center;
    word-break: break-all;

    img {
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;

      width: 13px;

      filter: opacity(0.5);
      cursor: pointer;
    }
  }

  .password-strength {
    display: none;
    align-items: center;
    justify-content: center;

    margin: 0.5rem 0rem 1rem 0rem;
    padding-bottom: 1rem;
    width: 90%;

    color: $pale-blue;
    border-bottom: 1px solid rgb(231, 231, 231);

    .indicator-text {
      margin-left: 0.5rem;
    }
  }

  .sliders-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: clamp(18rem, 100%, 25rem);

    box-shadow: 0 0.5rem 1rem $light-pale-blue;
    border-radius: 1rem;

    margin-bottom: 1.5rem;
    padding: 1rem 0rem;
  }

  input {
    width: 16.5rem;
  }

  .property {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3.2rem;
    padding: 0rem 1rem;

    border-radius: 1rem;

    h3 {
      margin: 0.4rem;
    }
  }

  .property + .active {
    background-color: $light-pale-blue;
  }

  .password-length {
    margin-bottom: 3rem;
  }

  button {
    width: clamp(6rem, 100%, 25rem);
    height: 4.5rem;

    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.15rem;

    color: white;
    background: linear-gradient(
      to top right,
      rgb(112, 103, 163),
      $strong-purple
    );
    box-shadow: 0.2rem 0.5rem 1rem rgba(156, 169, 204, 0.767);
    border: none;
    border-radius: 1rem;
    filter: saturate(0.75);

    transition: all 0.1s ease;
  }
}
